[submodule "modules/OSBot-Utils"]
	path = modules/OSBot-Utils
	url = git@github.com:owasp-sbot/OSBot-Utils.git
[submodule "modules/OSBot-Docker"]
	path = modules/OSBot-Docker
	url = git@github.com:owasp-sbot/OSBot-Docker.git
